*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
html,body{
  height: 100%;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.clear{
  clear:both;
}
/*.grid{
  position: relative;
  width: 100%;
  transition: opacity 0.5s linear 1s;
}
.grid .item{
  position: absolute;
  display: block;
  padding: 0;
}*/
/*.grid.imagenes-cargadas{
  opacity: 1;
}*/

header{
  width: 100%;
  height: 90vh;
  min-height: 600px;
  max-height: 700px;
  padding: 40px 2%;
 /*max-height: 700px;*/
  background-size: cover;
  background-position: center;
 background-image: url(../imag/world.jpg);
  font-weight: 300;
}
header nav {
  float: right;
}
header .form .barra-busqueda {
  position: relative;
  border-radius: 10%;
}
nav.mobile-menu{
  cursor: pointer;
  display: none;
  width: 32px;
  height: 32px;
  background-image: url(../imag/menu.png);
  background-size: 100% 100%;
}

nav.mobile-menu ul{
  opacity: 0;
  transition: 1s;
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  list-style-type: none;
  text-align: center;
}
nav.mobile-menu:hover ul{
  opacity: 1;
}
nav.mobile-menu ul li{
  padding: 8px 0;
  transition: 0.4s;
  border-bottom: 1px solid black;
}
nav.mobile-menu ul li:hover{
  background-color: rgb(230, 230, 230);
}
nav.mobile-menu ul li a{
  color: black;
  text-decoration: none;
  text-shadow: 5px 5px 9px black;

}
header .logo{
  position: relative;
  top: -5px;
  float: left;
  width: 160px;
  height: 40px;
/*  background-image: ;*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
header nav.dasktop-menu ul{
  list-style: none;
}
header nav.desktop-menu li{
	float: left;
	padding:0 20px;
}
header nav ul{
  list-style-type: none;
}
header nav.desktop-menu li{
  float: left;
  padding: 0 20px;
}
header nav.desktop-menu li a{
  color: white;
  text-decoration: none;
  text-shadow: 5px 5px 9px black;
}
.llamada1{
  max-width: 500px;
  margin: 60px 40px;
}
.llamada1 h2, h1{
  color: white;
}
.llamada h2{
  font-weight: 300;
  font-size: 40px;
  color: white;
}
.llamada1 p{
  font-size: 15px;
  color: white;
  margin-top: 10px;
  text-shadow: 5px 5px 9px black;
}
section{
  align-items: center;
}
section.session1{
  width: 100%;
  background-color: #708592;
  padding: 0 2%;
  height: 400px;
}
section.session1 .container{
  max-width: 1000px;
  height: calc(100% + 80px);
}
.texto-session1{
  float: left;
  width: 50%;
  position: relative;
  left: 75px;
  margin-top: 60px;
  color: white;
}
.container.texto-session1 h2{
  font-size: 26px;
  font-weight: 300;
}

.container.texto-session1 p{
  margin-top: 20px;
  font-size: 15px;
}
.texto-session1 ul{
  font-size: 15px;
  list-style-position: outside;
  padding-left: 15px;
}
.texto-session1 ul li{
  width: 100%;
  margin-top: 8px;
}
.btn1-texto{
  background-color: green;
  width: 125px;
  height: 44px;
  font-size: 13px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  line-height: 44px;
  border-radius: 30px;
}
.device-session1{
  float: left;
  width: 50%;
  position: relative;
  top: -80px;
  height: 100%;
  background-image: url(../imag/device.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*.session2>.container{
  position: relative;
  top: -20px;
}*/

.session2{
	padding-left: 2%;
	padding-right: 2%;
	background: white;
}
.session2 .container{
	max-width: 1000px;
}
  
section.session2{
  width: 100%;
  background-color: white;
  text-align: center;
  display: block;
  position: relative;
  
}
section.session2 img{
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}
.session2 h2{
  color: #472563;
  font-weight: 400;
}
.session2 p{
  padding-top: 20px;
  max-width: 800px;
  display: inline-block;
  width: 100%;
}
.session2 img{
  margin-top: 3px;
  position: relative;
  top: 100px;
  width: 100%;
}
.session3{
  width: 100%;
}
.part1{
  color: white;
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  background: #98b8bf;
}
.wraper-part1{
  max-width: 600px;
  float: right;
  padding: 0 30px;
}
.part1 h2{
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}
.part1 p{
  font-size: 15px;
  line-height: 35px;
  margin-top: 10px;
}
.part2{
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  background: white;
}  
.iconos .container{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.iconos .container .contenedor-icono a{ 
  display: block;
  width: 60px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  transition: .3s ease all;
  text-align: center;
}
.sobre-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}
.titulo-autor{
  float: left;
  width: 100%;
}
.wraper-titulo-autor{
  float:left;
}
.titulo-autor .img-autor{
  float: left;
  left: 30px;
	width: 40px;
	height:40px;
	background-image: url('../imag/yo.jpg');
	background-size: 100% 100%;
	border-radius: 20px;
  position: relative;
}
.sobre-autor{
  float: left;
  max-width: 800px;
  padding-left: 30px;
}

.wraper-titulo-autor{
  float: left;
}
.titulo-autor h2{
  color: #232323;
  font-weight: 400;
  font-size: 21px;
  padding-right: 20px;
}
.titulo-autor p{
  font-size: 13px;
  color: #232323;
  font-style: italic;
  font-weight: 300;
}

.texto-autor{
	float: left;
	width: 100%;
	margin-top:10px;
}

.texto-autor p{
	color: #232323;
	font-size: 15px;
  max-width: 500px;
  padding-top: 10px;
}

.slider-bullets{
	width: 100%;
	float: left;
	padding-left: 30px;
	margin-top:12px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 8px;
	background-color: rgb(200,200,200);
}
section.session4{
	background-color: #034C8A;
	padding:100px 0;
}

.form{
	float: left;
	width: 50%;
	color: white;
	padding-left: 10px;
  padding-right: 15px;
}

.form h2{
	font-size: 23px;
	font-weight: 300;
   padding-right: 15px;
}

.form p{
	font-size: 15px;
	font-weight: 300;
	max-width: 400px;
  display: inline-block;
   padding-right: 15px;
}

.form form{
	margin-top:15px;
}

.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	margin-top:8px;
	height: 58px;
	line-height: 58px;
	border:1px solid rgb(200,200,200);
}

.form form textarea{
	width: 90%;
	margin-top:8px;
	max-width: 480px;
	padding:15px;
	border:1px solid rgb(200,200,200);
	height: 160px;
}

.form form input[type=submit]{
	border: 0;
	background-color: green;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top:15px;
	border-radius: 30px;
  display: block;
  position: relative;
  left: 20px;
}

.map-wraper{
	float: left;
	width: 50%;
	padding:0 10px;
	color: white;
  position: relative;
}

.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
}

.map-wraper3{
	width: 100%;
	max-width: 480px;
	position: relative;
}

.map-wraper2{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	padding-top:100%;
}

.map{
	left: 0;
	top: 0;
  position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	border:5px solid rgb(200,200,200);
}

/***/


footer{
	padding:40px 2%;
	background: #192123;
	color: white;
}
footer .div{
  margin-left: 60px;
  margin-right: 60px;
}

footer p:nth-of-type(1){
	float: left;
	font-size: 14px;
}

footer p:nth-of-type(2){
	float: right;
	font-size: 14px;
}

@media screen and (max-width: 768px){
  /* body{
   display: inline-block;
   justify-content: center;
  }*/
.container{
  display: inline-block;
}
header{
	width: 100%;
	height: auto;
	min-height: 90vh;
	padding:40px 2%;
  text-align: center;
}

nav.desktop-menu{
	display:none;
}

nav.mobile-menu{
	display: block;
}

section.session1{
	padding:40px 2%;
	height: auto;
	text-align: center;
}
.sessin1 .container{
  height: auto;
}
.llamada1{
  max-width: 600px;
  float: none;
  margin:160px 0;
  text-align: center;
  text-shadow: 5px 5px 9px black;
  display: inline-block;
}
.llamada1 h2{
  color: white;
  text-shadow: 5px 5px 9px black;
}
.llamada h2{
  font-weight: 300;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 9px black;
}
.llamada1 p{
  font-size: 10px;
  color: white;
  margin-top: 10px;
  text-shadow: 5px 5px 9px black;
  text-align: center;
}
.session1 .container{
  max-width: 90vh;
	height: auto;
  text-align: center;
}


.texto-session1{
	width: 80%;
	margin-top:0;
	padding-left: 0;
	position: static; 
	float: none;
	display: inline-block;
}
.session1.container.texto-session1 h2{
  max-width: 60%;
  text-align: center;
  padding-right: 10px;
}

.texto-session1 ul{
	display: inline-block;
	margin-top:20px;
  text-shadow: 5px 5px 9px black;
}

.texto-session1 ul li{
	float: none;
	text-align: left;
  text-shadow: 5px 5px 9px black;
}

.btn1-texto{
	display: inline-block;
}

.device-session1{
  display: none;
}
.session2 .container{
  position: relative;
  top: 10px;
}
section .session2 .container p{
  width: 400px;
}
section.session4 .container, form, img, input[type=submit]{
  display: flex;
	position: static; 
	float: none;
	display: inline-block;
  text-align: center;
}
section.session4 .container{
	text-align: center;
}

.form{
	float: none;
	width: 100%;
  display: block;
  align-items: center; 
}

.form p{
	display: inline-block;
	float: none;
}

.map-wraper{
	float: none;
	width: 100%;
	padding:0 8%;
	margin-top:40px;
}


.map-wraper3{
	margin-top:10px;
	width: 100%;
	padding-top: 100%;
	display: inline-block;
	max-width: none;
	position: relative;
}

.map-wraper2{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	padding-top:0;
}
.form form input[type=submit]{
  position: relative;
	border: 0;
	background-color: green;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top:15px;
	border-radius: 30px;
  display: block;
  left: 20px;
 }
 .submit-form{
	display: inline-block;
  }
}
@media screen and (max-width: 580px){
  .part1{
    width: 100%;
    padding: 40px 0;
  }
  .part2{
    width: 100%;
    padding: 40px 0;
  }
  .session2 img{
    position: relative;
    top: 70px;
  }

section.session2 {
  position: static; 
	float: none;
	display: inline-block;

  }
  footer{
		text-align: center;
	}

	footer p:nth-of-type(1){
	    float: none;
	}

	footer p:nth-of-type(2){
		float: none;
		margin-top:8px;
	}

}

